@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', sans-serif;
    --color-light-gray: #E7E7E7;
    --color-gray: #D9D9D9;
    --color-dark-gray: #969696;
    --color-green-button: #23CC3D;
    --color-yellow-button: #FCB933;
    --color-red-button: #FF5F53;
    --color-blue: #107EFF;
    --color-sky-blue: #009CFF;
    --color-black: #000000;
    --color-white: #FFFFFF;
  }
}

@layer utilities {
  .font-inter {
    font-family: var(--font-inter);
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
